.click:hover{
    background: gainsboro;
}
.click{
    cursor: pointer;
    font-family:sans-serif;
    font-size:1.2rem;
    padding:3%;
}
.left{
    height:100vh;
    background:#0d254c;
}
.right{
    height: 100vh;
}
.brand{
    font-size:1.5em;
    color:white;
    padding:2%;

}

.email{
    color:black;
    font-weight: bold;
    font-family: sans-serif;

}

.title{
    font-family: sans-serif;
    font-weight:bold;
    font-size:1.15rem;
}
h1{
    background-color: black;
    font-size: 1.5em;
    font-family: "Raleway",Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 25px;
    letter-spacing: 2px;
}
span{
    font-weight: bold;
}
nav{
    font-weight: bold;
}